<h2>Product Management</h2>

<div class="buttons">
  <button class="btn btn-primary" (click)="open(-1)">New product</button>&nbsp;
  <button *ngIf="'ALL'==viewType" class="btn btn-secondary" (click)="loadDuplicateNames()">View products with same
    names</button>&nbsp;
  <button *ngIf="'DUPLICATENAMES'==viewType" class="btn btn-secondary" (click)="loadAllProducts()">View all
    products</button>&nbsp;
</div>

<table class="table table-hover table-bordered">
  <thead class='thead-dark'>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products; let i = index" (click)="open(i)">
      <td scope="row">{{p.code}}</td>
      <td scope="row">{{p.name}}</td>
      <td scope="row">{{p.url}}</td>
    </tr>
  </tbody>
</table>



<!-- Modal -->
<div *ngIf="null!=productData" class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="''!=message" class="alert alert-{{messageType=='ERROR'?'danger':'success'}}" role="alert">
          {{message}}
        </div>

        <form>
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" name='code' [(ngModel)]="productData.code">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name='name' [(ngModel)]="productData.name">
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" name='url' [(ngModel)]="productData.url">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" *ngIf="!newRecord" (click)="delete()">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveBtnClick()">{{newRecord?'Save':'Update'}}</button>
      </div>
    </div>
  </div>
</div>